@import '_vars'

body
  margin 0
  background-color $backgroundColor
  color $appTitleColor
  font-family 'Open Sans', sans-serif

header
  background-color $headerColor
  width 100%
  height 3em
  position fixed
  z-index 100

  h1
    margin 0
    font-weight normal
    text-align center
    font-size 1.3em
    padding-top .5em

#timeline
  padding-top 3em

  h2
    text-align center
    margin-top 200px
    font-weight normal
    font-size 1em

  ul
    width 100%
    height 100%
    padding 0
    margin 0

    li
      list-style-type none
      color $exploitTitleColor
      font-size 1.2em
      margin 0 0 1px 0
      padding .2em
      background-color $exploitBackgroundColor
      position relative
      min-height 2.3em

      &:before
        content ''
        display block
        width 2px
        height 100%
        background-color $backgroundColor
        position absolute
        top 0
        left 1.45em

      .exploit_type
        display inline-block
        position absolute
        top .6em
        left .8em

        i
          background-color $backgroundColor
          width 1.2em
          height 1.2em
          padding .6em
          color white
          border-radius 1.2em
          font-size .6em
          text-align center

      .exploit
        margin-left 3em
        display inline-block

      time
        font-size .7em
        display: block
