doctype html
html(lang='fr')
  head
    title Julia

    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    meta(name='mobile-web-app-capable' content='yes')

    link(rel='icon' sizes='196x196' href='images/logo.png')
    link(rel='apple-touch-icon' sizes='256x256' href='images/logo.png')

    link(href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='main.css')

  body
    header
      h1 Julia

    #timeline
      ul
        - each exploit in sortedExploits
          li
            .exploit_type
              - exploit_type = exploit.type || 'calendar'
              - exploit_classes = ['fa', 'fa-' + exploit_type]
              i(class=exploit_classes.join(' '))
            .exploit
              = exploit.title
              time(datetime=exploit.date)= exploit.displayDate
