doctype html
html(lang='fr')
  head
    title Vie de Julia

    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    meta(name='mobile-web-app-capable' content='yes')

    link(rel='icon' sizes='196x196' href='images/logo.png')
    link(rel='apple-touch-icon' sizes='256x256' href='images/logo.png')

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='main.css')

  body
    header
      h1 Vie de Julia

    #timeline
      ul
        - each event in events
          li
            = event.title
            .date= event.date
